@define-mixin text-body {
  font-family: var(--text-body-font-family);
  font-weight: var(--text-body-font-weight);
  font-size: var(--text-body-font-size);
  letter-spacing: var(--text-body-letter-spacing);
  line-height: var(--text-body-line-height);
}

@define-mixin text-subtitle {
  font-family: var(--text-subtitle-font-family);
  font-weight: var(--text-subtitle-font-weight);
  font-size: var(--text-subtitle-font-size);
  letter-spacing: var(--text-subtitle-letter-spacing);
  line-height: var(--text-subtitle-line-height);
}
