:root {
  /* Box-shadow */
  --shadow-surface: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  --shadow-switch:
    0px 0px 4px 0px rgba(0, 0, 0, 0.05),
    0px 2px 10px 0px rgba(0, 0, 0, 0.05),
    0px 0px 2px 0px rgba(0, 0, 0, 0.05);

  /* Colors */
  --color-control-border: #e5e7eb;
  --color-control-outline: var(--color-primary);
  --color-control-subtle: #f8f8f8;
  --color-danger: #dc2626;
  --color-neutral: #eef0f3;
  --color-neutral-fg: #111827;
  --color-neutral-fg-hover: #4b5563;
  --color-neutral-hover: #f8f9fc;
  --color-primary: #2563eb;
  --color-primary-fg: #ffffff;
  --color-primary-fg-hover: #1d4ed8;
  --color-primary-hover: #1d4ed8;
  --color-root-bg: #f9fafb;
  --color-scroll-thumb: rgba(0, 0, 0, 0.1);
  --color-scroll-thumb-hover: rgba(0, 0, 0, 0.2);
  --color-skeleton: linear-gradient(
    90deg,
    rgba(138, 141, 148, 0.08) 8%,
    rgba(138, 141, 148, 0.14) 18%,
    rgba(138, 141, 148, 0.08) 32%
  );
  --color-success: #22c55e;
  --color-surface: #ffffff;
  --color-surface-border: #e5e7eb;

  /* Opacity */
  --opacity-item-disabled: 0.5;

  /* Spacing */
  --gap-checkbox: 8px;
  --gap-container: 16px;
  --gap-control: 8px;
  --gap-list-actions: 8px;
  --gap-list-item: 12px;
  --gap-surface: 8px;
  --gap-toast: 8px;
  --padding-container: 16px;
  --padding-control: 12px 16px;
  --padding-icon-xs: 2px;
  --padding-icon-s: 2px;
  --padding-icon-m: 4px;
  --padding-surface: 12px 16px;
  --padding-switch: 2px;
  --padding-tab: 6px 12px;
  --padding-toast: 16px;

  /* Size */
  --size-checkbox: 24px;
  --size-container: 1440px;
  --size-control: 40px;
  --size-control-border: 1px;
  --size-control-outline: 2px;
  --size-icon-xs: 16px;
  --size-icon-s: 24px;
  --size-icon-m: 32px;
  --size-select-list: 210px;
  --size-surface-border: 1px;
  --size-switch: 24px;
  --size-switch-circle: 18px;
  --size-tab: 40px;
  --size-tabs-underline: 1px;
  --size-toast: 320px;

  /* Transform */
  --transform-scale-item-active: 0.975;

  /* Transition */
  --transition-time: 0.25s;

  /* Typography */
  --text-body-font-family: "Open Sans", sans-serif;
  --text-body-font-size: 14px;
  --text-body-font-weight: 400;
  --text-body-letter-spacing: 0;
  --text-body-line-height: 17px;
  --text-subtitle-font-family: "Open Sans", sans-serif;
  --text-subtitle-font-size: 16px;
  --text-subtitle-font-weight: 600;
  --text-subtitle-letter-spacing: -0.43;
  --text-subtitle-line-height: 19px;
  --text-title-font-family: "Open Sans", sans-serif;
  --text-title-font-size: 24px;
  --text-title-font-weight: 700;
  --text-title-letter-spacing: -0.43;
  --text-title-line-height: 29px;

  /* Radius */
  --radius-checkbox: 8px;
  --radius-control: 12px;
  --radius-surface: 12px;
  --radius-switch: 24px;
  --radius-tab: 8px;
  --radius-max: 999px;
}
